--log_dir={{ dingo_cache_log_dir }}
--log_level={{ dingo_cache_log_level }}
--log_v={{ dingo_cache_log_v }}
--group_name={{ dingo_cache_group_name }}
--listen_ip={{ dingo_cache_listen_ip }}
--listen_port={{ dingo_cache_listen_port }}
--mds_addrs={{ dingo_cache_mds_addrs }}
--id={{ dingo_cache_config_id }}
--cache_dir={{ dingo_cache_cache_dirs }}
--cache_size_mb={{ dingo_cache_cache_size_mb }}
--free_space_ratio={{ dingo_cache_free_space_ratio }}
--iodepth={{ dingo_cache_iodepth }}
--group_weight={{ dingo_cache_group_weight }}
