#!/usr/bin/env bash
# Ansible-managed: Dingo-cache startup script

CACHE_CONF_FILE="{{ dingo_cache_base_dir }}/dingo-cache.conf"

if [ ! -f "$CACHE_CONF_FILE" ]; then
    echo "Error: Config file $CACHE_CONF_FILE not found"
    exit 1
fi

LD_PRELOAD={{ dingo_cache_ld_preload }}{% if dingo_cache_numa_enabled | default(false) %} numactl --cpunodebind={{ dingo_cache_numa_node | default(0) }} --membind={{ dingo_cache_numa_node | default(0) }}{% endif %} {{ dingo_cache_base_dir }}/{{ dingo_cache_bin_name }} --flagfile "$CACHE_CONF_FILE"
